:root{
    --max-width:350px;
}
.page-container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas: 
    "nav nav nav nav nav"
    "main main main main main"
    "content1 content1 content1 content2 content3 "
    "footer footer footer footer footer ";
    grid-gap: 0.2rem;
}

@media only screen and (max-width:350px){
    .page-container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 2.2fr 1.5fr 0.5fr 0.5fr 1fr;
        grid-template-areas: 
        "nav"
        "main"
        "content1"
        "content2"
        "content3"
        "footer";
    }
}