<div class="page-container">
    <nav>
        <app-nav></app-nav>
    </nav>
    <main>
        <h1>Main Page Info about our services and subscriptions</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor officiis architecto saepe corrupti ullam autem accusamus inventore, deserunt deleniti, numquam officia dignissimos ut fugit, sunt dolore laudantium veniam! Officiis, obcaecati.</p>
    </main>
    <div id="content1">
        <h1>Promo for 10-15% off first month of service providing</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor officiis architecto saepe corrupti ullam autem accusamus inventore, deserunt deleniti, numquam officia dignissimos ut fugit, sunt dolore laudantium veniam! Officiis, obcaecati.</p>
    </div>
    <div id="content2">
        <h1>Promo to sign up for our affiliate program</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor officiis architecto saepe corrupti ullam autem accusamus inventore, deserunt deleniti, numquam officia dignissimos ut fugit, sunt dolore laudantium veniam! Officiis, obcaecati.</p>
    </div>
    <div id="content3">
        <h1>Promo for our merch</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor officiis architecto saepe corrupti ullam autem accusamus inventore, deserunt deleniti, numquam officia dignissimos ut fugit, sunt dolore laudantium veniam! Officiis, obcaecati.</p>
    </div>
    <footer><app-footer></app-footer></footer>
</div>